@font-face {
  font-family: "Gallient";
  src: url("./Gallient.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterBlack";
  src: url("./MADE\ Outer\ Sans\ Black.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterBold";
  src: url("./MADE\ Outer\ Sans\ Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterMedium";
  src: url("./MADE\ Outer\ Sans\ Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterRegular";
  src: url("./MADE\ Outer\ Sans\ Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterLight";
  src: url("./MADE\ Outer\ Sans\ Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OuterThin";
  src: url("./MADE\ Outer\ Sans\ Thin.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
